.color-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.input-row input[type="text"]{
    flex: 1;
    min-width: 0;
}

.input-row input[type="input"]{
  width: 45px;
  height: 38px;
  padding: 2px;
  border: none; 
  cursor: pointer;
}